/**
 * Place your custom styles here.
 */
@font-face {
  font-family: 'lubalin_graphbold';
  src: url("../assets/lubalin/lubalin_graph_bold-webfont.eot");
  src: url("../assets/lubalin/lubalin_graph_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/lubalin/lubalin_graph_bold-webfont.woff2") format("woff2"), url("../assets/lubalin/lubalin_graph_bold-webfont.woff") format("woff"), url("../assets/lubalin/lubalin_graph_bold-webfont.ttf") format("truetype"), url("../assets/lubalin/lubalin_graph_bold-webfont.svg#lubalin_graphbold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lubalin_graph_bookregular';
  src: url("../assets/lubalin/lubalin_graph_book_regular-webfont.eot");
  src: url("../assets/lubalin/lubalin_graph_book_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/lubalin/lubalin_graph_book_regular-webfont.woff2") format("woff2"), url("../assets/lubalin/lubalin_graph_book_regular-webfont.woff") format("woff"), url("../assets/lubalin/lubalin_graph_book_regular-webfont.ttf") format("truetype"), url("../assets/lubalin/lubalin_graph_book_regular-webfont.svg#lubalin_graph_bookregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lubalin_graphregular';
  src: url("../assets/lubalin/lubalin_graph_regular-webfont.eot");
  src: url("../assets/lubalin/lubalin_graph_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/lubalin/lubalin_graph_regular-webfont.woff2") format("woff2"), url("../assets/lubalin/lubalin_graph_regular-webfont.woff") format("woff"), url("../assets/lubalin/lubalin_graph_regular-webfont.ttf") format("truetype"), url("../assets/lubalin/lubalin_graph_regular-webfont.svg#lubalin_graphregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.font, body, .navbar-fixed-top #block-kbclr-hoofdnavigatie ul.menu > li > a {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal; }
  .font.title, h1, h2, h3, h4, h5, h6, body.title, .navbar-fixed-top .brandingbox .navbar-brand, .navbar-fixed-top .brandingbox .navbar-text, .navbar-fixed-top #block-kbclr-hoofdnavigatie ul.menu > li > a.title, .node--type-project .content .region-content .node-project .group-project-content .field-name-field-project-intro, .node--type-project .content .region-content .node-project .group-project-content .group-project-extra .field-label, .node--type-article .content .region-content .field-name-field-intro, .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-banner-title, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-banner-title, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-banner-title, footer.footer-bottom #block-adresgegevens span, body.path-frontpage > .heading .question1, body.path-frontpage > .heading .question2, .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--banner .field--name-field-banner-caption {
    font-family: 'lubalin_graphregular';
    font-weight: normal;
    letter-spacing: 1px;
    font-style: normal; }

.clearfix:after, .navbar-fixed-top:after, footer.footer-bottom:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

img {
  max-width: 100%;
  height: auto; }

iframe {
  max-width: 100%; }

ul.tabs--primary {
  background: #f7f6f5;
  padding: 50px 0 0;
  margin: 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: 0; }
  ul.tabs--primary li {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none; }
    ul.tabs--primary li a {
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 4px;
      border: none;
      color: #333;
      padding: 5px 10px; }
      ul.tabs--primary li a.active {
        background: #1eabe3;
        color: #fff;
        position: relative; }
        ul.tabs--primary li a.active:hover {
          background: #1eabe3;
          color: #fff; }
        ul.tabs--primary li a.active:after {
          content: "";
          position: absolute;
          bottom: -14px;
          left: 50%;
          margin-left: -8px;
          border-top: 8px solid #1eabe3;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid transparent; }
      ul.tabs--primary li a:hover {
        background: #333;
        color: #fff; }
    ul.tabs--primary li.active a {
      background: #1eabe3;
      position: relative;
      border: none;
      color: #fff;
      padding: 5px 10px; }
      ul.tabs--primary li.active a:after {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 50%;
        margin-left: -8px;
        border-top: 8px solid #1eabe3;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid transparent; }
      ul.tabs--primary li.active a:hover {
        background: #1eabe3;
        color: #fff;
        border: 0; }

a {
  color: #414140;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  transition: all 300ms ease; }
  a:hover {
    color: #1eabe3;
    text-transform: none; }

p::selection, a::selection, h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, div::selection, li::selection {
  background: #f1c40f;
  color: #414140; }
p::-moz-selection, a::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, div::-moz-selection, li::-moz-selection {
  background: #f1c40f;
  color: #414140; }

nav.tabs {
  display: inline-block;
  width: 100%;
  margin: 0 0 30px; }

.page-header {
  border: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0 0 30px; }

.front .frontvideo {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 56.25%; }
  .front .frontvideo:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
    top: 0;
    background: url(../assets/images/pattern.png) repeat left top; }
  .front .frontvideo:after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background: url(../assets/images/afterpijl.svg) no-repeat center top/5000px; }
  .front .frontvideo video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }

body {
  font-size: 16px;
  padding: 0;
  color: #414140;
  background: #f7f6f5;
  margin-top: 0; }
  body.navbar-is-fixed-top {
    margin-top: 0; }
  body > .main-container {
    padding-top: 120px; }
  body::selection {
    background: #f1c40f; }
  body::-moz-selection {
    background: #f1c40f; }

.navbar-fixed-top {
  position: fixed;
  z-index: 50;
  padding: 20px;
  width: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  text-align: right;
  border-bottom: 0; }
  .navbar-fixed-top .brandingbox {
    float: left;
    width: 50%;
    position: relative; }
    .navbar-fixed-top .brandingbox a.logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: auto;
      margin: -8px 0 0; }
      .navbar-fixed-top .brandingbox a.logo img {
        width: 50px;
        height: auto; }
      .navbar-fixed-top .brandingbox a.logo:hover {
        text-decoration: none; }
    .navbar-fixed-top .brandingbox .navbar-brand {
      padding: 0 0 0 60px;
      margin: 0;
      width: 100%;
      text-align: left;
      height: auto;
      color: #fff;
      font-size: 20px; }
    .navbar-fixed-top .brandingbox .navbar-text {
      padding: 0 0 0 60px;
      margin: 5px 0 0;
      width: 100%;
      text-align: left;
      color: #1eabe3;
      font-size: 12px;
      font-style: italic; }
  .navbar-fixed-top .region-navigation-collapsible > * {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0; }
  .navbar-fixed-top #block-kbclr-search {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 20%; }
    .navbar-fixed-top #block-kbclr-search .form-group {
      margin: 0 0 0 20px; }
    .navbar-fixed-top #block-kbclr-search .help-block {
      display: none; }
  .navbar-fixed-top #block-kbclr-hoofdnavigatie {
    float: none;
    display: inline-block;
    vertical-align: middle; }
    .navbar-fixed-top #block-kbclr-hoofdnavigatie ul.menu {
      float: right;
      display: inline-block; }
      .navbar-fixed-top #block-kbclr-hoofdnavigatie ul.menu > li {
        margin: 0 0 0 15px; }
        .navbar-fixed-top #block-kbclr-hoofdnavigatie ul.menu > li > a {
          font-size: 14px;
          text-transform: uppercase;
          background: transparent;
          color: #fff;
          padding: 5px 10px;
          border-radius: 4px;
          -webkit-transition: all 0.4s ease;
          -moz-transition: all 0.4s ease;
          transition: all 0.4s ease; }
          .navbar-fixed-top #block-kbclr-hoofdnavigatie ul.menu > li > a:hover {
            color: #f1c40f; }
          .navbar-fixed-top #block-kbclr-hoofdnavigatie ul.menu > li > a.active {
            background: #1eabe3;
            color: #fff; }

.field-name-field-googlemaps-iframe {
  margin: 0 0 50px; }
  .field-name-field-googlemaps-iframe iframe {
    width: 100%;
    height: 500px;
    border-radius: 4px; }

ul.flex-direction-nav {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.flex-direction-nav > li {
    list-style: none; }
    ul.flex-direction-nav > li > a {
      position: absolute;
      font-size: 40px;
      line-height: 40px;
      top: 50%;
      margin-top: -20px;
      color: rgba(255, 255, 255, 0.4);
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      ul.flex-direction-nav > li > a.flex-prev {
        left: 30px; }
      ul.flex-direction-nav > li > a.flex-next {
        right: 30px; }
      ul.flex-direction-nav > li > a:hover {
        color: white; }

ol.flex-control-nav {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0; }
  ol.flex-control-nav > li {
    display: inline-block;
    vertical-align: middle; }
    ol.flex-control-nav > li > a {
      width: 10px;
      height: 10px;
      text-indent: -99999999px;
      cursor: pointer;
      display: inline-block;
      border-radius: 50%;
      margin: 0 2px;
      background: #414140;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      transition: all 400ms ease; }
      ol.flex-control-nav > li > a.flex-active {
        background: #f1c40f; }

.page-artikels #block-menu-menu-artikel-menu {
  display: none; }
.page-artikels .region-content {
  width: 100%;
  max-width: none; }
.page-artikels .filter-button-group {
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 50px 0; }
  .page-artikels .filter-button-group > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    color: #303333;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease; }
    .page-artikels .filter-button-group > *:hover {
      background: #eee;
      text-decoration: none; }
    .page-artikels .filter-button-group > *.active {
      background: #f1c40f; }

.page-producten #block-menu-menu-product-menu {
  float: left;
  width: 300px; }
.page-producten #block-system-main {
  float: right;
  width: calc(100% - 350px); }
.page-producten .view-productnodes .views-row {
  display: inline-block;
  width: 100%;
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #ddd; }
  .page-producten .view-productnodes .views-row .group-left {
    width: 200px; }
  .page-producten .view-productnodes .views-row .group-right {
    width: calc(100% - 220px);
    float: right; }
    .page-producten .view-productnodes .views-row .group-right .field-name-field-paragraaf {
      margin-top: 20px; }
      .page-producten .view-productnodes .views-row .group-right .field-name-field-paragraaf .field-item {
        margin: 0;
        font-weight: 300; }
    .page-producten .view-productnodes .views-row .group-right .paragraphs-item-tekst,
    .page-producten .view-productnodes .views-row .group-right .paragraphs-item-intro {
      width: 100%;
      margin: 0;
      font-weight: 300; }

.page-taxonomy-term #block-menu-menu-product-menu {
  float: left;
  width: 300px; }
.page-taxonomy-term #block-system-main {
  float: right;
  width: calc(100% - 350px); }
.page-taxonomy-term .node-product {
  display: inline-block;
  width: 100%;
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px solid #ddd; }
  .page-taxonomy-term .node-product .group-left {
    width: 200px; }
  .page-taxonomy-term .node-product .group-right {
    width: calc(100% - 220px);
    float: right; }
    .page-taxonomy-term .node-product .group-right .field-name-field-paragraaf {
      margin-top: 20px; }
      .page-taxonomy-term .node-product .group-right .field-name-field-paragraaf .field-item {
        margin: 0;
        font-weight: 300; }
    .page-taxonomy-term .node-product .group-right .paragraphs-item-tekst,
    .page-taxonomy-term .node-product .group-right .paragraphs-item-intro {
      width: 100%;
      margin: 0; }

.node--type-project .content .region-content {
  width: 100%; }
  .node--type-project .content .region-content ul.flex-direction-nav {
    list-style: none;
    padding: 0;
    margin: 0; }
    .node--type-project .content .region-content ul.flex-direction-nav > li {
      list-style: none; }
      .node--type-project .content .region-content ul.flex-direction-nav > li > a {
        position: absolute;
        font-size: 30px;
        line-height: 30px;
        top: 50%;
        margin-top: -15px;
        color: rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .node--type-project .content .region-content ul.flex-direction-nav > li > a.flex-prev {
          left: -50px; }
        .node--type-project .content .region-content ul.flex-direction-nav > li > a.flex-next {
          right: -50px; }
        .node--type-project .content .region-content ul.flex-direction-nav > li > a:hover {
          color: rgba(0, 0, 0, 0.9); }
  .node--type-project .content .region-content .node-project {
    max-width: 1200px;
    margin: auto; }
    .node--type-project .content .region-content .node-project .field-name-field-project-pic {
      position: relative;
      margin-bottom: 50px;
      display: inline-block; }
    .node--type-project .content .region-content .node-project .group-project-content {
      width: 70%;
      margin: 50px auto 0; }
      .node--type-project .content .region-content .node-project .group-project-content .field-name-field-project-intro {
        margin: 0 0 30px; }
      .node--type-project .content .region-content .node-project .group-project-content .field-name-body a {
        text-decoration: none;
        color: #414140;
        -webkit-transition: all 400ms ease;
        -moz-transition: all 400ms ease;
        transition: all 400ms ease;
        background: #f1c40f; }
        .node--type-project .content .region-content .node-project .group-project-content .field-name-body a:hover {
          background: #1eabe3; }
      .node--type-project .content .region-content .node-project .group-project-content .field-name-field-project-tax {
        text-align: right; }
        .node--type-project .content .region-content .node-project .group-project-content .field-name-field-project-tax .field-item {
          display: inline-block;
          vertical-align: middle;
          font-size: 12px;
          font-style: italic;
          margin: 0 0 0 10px;
          padding: 0 0 0 10px;
          border-left: 3px solid #f1c40f; }
          .node--type-project .content .region-content .node-project .group-project-content .field-name-field-project-tax .field-item:last-child {
            border-right: 3px solid #f1c40f;
            padding: 0 10px; }
      .node--type-project .content .region-content .node-project .group-project-content .group-project-extra {
        display: inline-block;
        width: 100%;
        margin: 30px 0 15px;
        padding: 30px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd; }

.node--type-article .content > .content-inner > section {
  position: relative; }
  .node--type-article .content > .content-inner > section .breadcrumb {
    margin-bottom: 0; }
.node--type-article .content .region-content .field-name-field-image {
  margin: 0; }
.node--type-article .content .region-content .field-name-field-intro {
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  color: #1eabe3; }
.node--type-article .content .region-content .field-name-body, .node--type-article .content .region-content .field-name-field-tekst {
  text-align: left;
  font-weight: 400;
  line-height: 26px; }
  .node--type-article .content .region-content .field-name-body a, .node--type-article .content .region-content .field-name-field-tekst a {
    text-decoration: none;
    color: #414140;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease;
    background: #f1c40f; }
    .node--type-article .content .region-content .field-name-body a:hover, .node--type-article .content .region-content .field-name-field-tekst a:hover {
      background: #1eabe3; }

.node--type-article .field-name-field-product-images, .node--type-product .field-name-field-product-images, .front .field-name-field-product-images {
  display: none; }
.node--type-article .field-name-field-paragraaf, .node--type-product .field-name-field-paragraaf, .front .field-name-field-paragraaf {
  margin-top: 100px;
  display: inline-block;
  width: 100%; }
  .node--type-article .field-name-field-paragraaf > .field-items, .node--type-product .field-name-field-paragraaf > .field-items, .front .field-name-field-paragraaf > .field-items {
    text-align: center; }
    .node--type-article .field-name-field-paragraaf > .field-items > .field-item, .node--type-product .field-name-field-paragraaf > .field-items > .field-item, .front .field-name-field-paragraaf > .field-items > .field-item {
      margin: 0 0 50px;
      display: inline-block;
      width: 100%;
      text-align: center;
      font-weight: 400;
      line-height: 26px; }
      .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item {
        display: inline-block;
        max-width: 1600px;
        text-align: center; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner {
          max-width: none;
          text-align: left;
          width: 100%;
          z-index: 999;
          min-height: 400px;
          position: relative;
          display: block;
          background: transparent;
          text-align: center; }
          .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .field-name-field-image, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .field-name-field-image, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .field-name-field-image {
            display: none; }
          .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox {
            width: 60%;
            margin: auto;
            display: inline-block;
            padding: 50px 0;
            text-align: left; }
            .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-banner-title, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-banner-title, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-banner-title {
              font-size: 30px;
              color: #1eabe3; }
            .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-link a, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-link a, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-link a {
              margin: 15px 0;
              color: #fff;
              background: #1eabe3;
              padding: 4px 8px;
              border-radius: 2px;
              display: inline-block; }
              .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-link a:hover, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-link a:hover, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-banner .group-infobox .field-name-field-link a:hover {
                background: #414140;
                text-decoration: none; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-left, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-left, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-left {
          float: left;
          width: 48%; }
          .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-left img, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-left img, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-left img {
            width: 100%; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-right, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-right, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item .group-right {
          float: right;
          width: 48%; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.field-name-field-afbeelding, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.field-name-field-afbeelding, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.field-name-field-afbeelding {
          display: inline-block;
          width: 100%;
          text-align: center; }
          .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.field-name-field-afbeelding img, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.field-name-field-afbeelding img, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.field-name-field-afbeelding img {
            display: inline-block; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-tekst-links-foto-rechts .group-left, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-tekst-links-foto-rechts .group-left, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-tekst-links-foto-rechts .group-left {
          text-align: right; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-foto-links-tekst-rechts .group-right, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-foto-links-tekst-rechts .group-right, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-foto-links-tekst-rechts .group-right {
          text-align: left; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-intro > .content, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-intro > .content, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-intro > .content {
          width: 50%;
          margin: auto; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-download-bestand > .content, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-download-bestand > .content, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-download-bestand > .content {
          width: 50%;
          margin: auto;
          padding: 20px;
          background: #fff; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-tekst > .content, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-tekst > .content, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-tekst > .content {
          width: 50%;
          margin: auto;
          font-weight: 400; }
        .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-video, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-video, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-video {
          text-align: center; }
          .node--type-article .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-video .field-name-field-video, .node--type-product .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-video .field-name-field-video, .front .field-name-field-paragraaf > .field-items > .field-item > .entity-paragraphs-item.paragraphs-item-video .field-name-field-video {
            display: inline-block; }

.field-name-sharebtns {
  position: absolute;
  left: 8px;
  top: 8px; }
  .field-name-sharebtns p {
    display: inline-block;
    vertical-align: top; }

.field-name-field-tags {
  position: absolute;
  right: 8px;
  top: 8px; }
  .field-name-field-tags .field-item {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    border-left: 1px solid #ddd; }

#block-views-projects-block-1, #block-views-projects-block-2 {
  margin: 100px 0 0;
  text-align: center; }
  #block-views-projects-block-1 .block-title, #block-views-projects-block-2 .block-title {
    margin: 0 0 40px; }
  #block-views-projects-block-1 .view-articles .more-link a, #block-views-projects-block-2 .view-articles .more-link a {
    color: #414140;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 15px;
    background: transparent;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin: 10px 0 0;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    transition: all 400ms ease; }
    #block-views-projects-block-1 .view-articles .more-link a:hover, #block-views-projects-block-2 .view-articles .more-link a:hover {
      background: #f1c40f; }
  #block-views-projects-block-1 .view-articles .views-row, #block-views-projects-block-2 .view-articles .views-row {
    width: 300px;
    height: 450px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 15px;
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
    #block-views-projects-block-1 .view-articles .views-row:after, #block-views-projects-block-2 .view-articles .views-row:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background: transparent;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      transition: all 400ms ease; }
    #block-views-projects-block-1 .view-articles .views-row .views-field-field-project-pic, #block-views-projects-block-2 .view-articles .views-row .views-field-field-project-pic {
      display: none; }
    #block-views-projects-block-1 .view-articles .views-row .views-field-title, #block-views-projects-block-1 .view-articles .views-row .views-field-field-project-intro, #block-views-projects-block-2 .view-articles .views-row .views-field-title, #block-views-projects-block-2 .view-articles .views-row .views-field-field-project-intro {
      opacity: 0;
      -webkit-transition: all 400ms ease;
      -moz-transition: all 400ms ease;
      transition: all 400ms ease;
      position: relative;
      z-index: 0;
      color: #fff;
      max-width: 80%;
      margin-left: 10%;
      font-size: 14px; }
      #block-views-projects-block-1 .view-articles .views-row .views-field-title h3, #block-views-projects-block-1 .view-articles .views-row .views-field-field-project-intro h3, #block-views-projects-block-2 .view-articles .views-row .views-field-title h3, #block-views-projects-block-2 .view-articles .views-row .views-field-field-project-intro h3 {
        font-size: 18px;
        margin-top: 0;
        padding-bottom: 20px;
        background: url(../assets/images/dots.svg) no-repeat center bottom/34px; }
        #block-views-projects-block-1 .view-articles .views-row .views-field-title h3 a, #block-views-projects-block-1 .view-articles .views-row .views-field-field-project-intro h3 a, #block-views-projects-block-2 .view-articles .views-row .views-field-title h3 a, #block-views-projects-block-2 .view-articles .views-row .views-field-field-project-intro h3 a {
          color: #fff;
          text-decoration: none; }
    #block-views-projects-block-1 .view-articles .views-row:hover:after, #block-views-projects-block-2 .view-articles .views-row:hover:after {
      background: rgba(0, 0, 0, 0.65); }
    #block-views-projects-block-1 .view-articles .views-row:hover .views-field-title, #block-views-projects-block-1 .view-articles .views-row:hover .views-field-field-project-intro, #block-views-projects-block-2 .view-articles .views-row:hover .views-field-title, #block-views-projects-block-2 .view-articles .views-row:hover .views-field-field-project-intro {
      opacity: 1;
      z-index: 4; }

#block-views-projects-block-1 .view-articles .views-row {
  width: 30%;
  height: 300px;
  margin: 0 4% 0 0; }
  #block-views-projects-block-1 .view-articles .views-row:last-child {
    margin: 0; }

.node--type-dienst .node-dienst .group-left {
  width: 200px; }

.page-services .view-services .views-row {
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px dashed #ddd; }
  .page-services .view-services .views-row:first-child {
    border: 0; }
.page-services .view-services .group-left {
  width: 29%;
  float: none;
  display: inline-block;
  vertical-align: middle; }
.page-services .view-services .group-right {
  width: 70%;
  float: none;
  display: inline-block;
  vertical-align: middle; }
.page-services .view-services .field-name-title a {
  color: #414140;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .page-services .view-services .field-name-title a:hover {
    color: #1eabe3;
    text-decoration: none; }
.page-services .view-services .field-name-field-service-intro {
  font-family: 'proxima'; }

.front .content .region-content .field-name-field-service-intro {
  font-family: 'proxima'; }
.front .content .region-content .view-services .views-row {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center; }
  .front .content .region-content .view-services .views-row:first-child {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #ddd; }
  .front .content .region-content .view-services .views-row .group-left {
    width: 25%;
    float: none;
    display: inline-block;
    vertical-align: middle; }
    .front .content .region-content .view-services .views-row .group-left .svgbox {
      width: 100%;
      margin: 0; }
      .front .content .region-content .view-services .views-row .group-left .svgbox span {
        width: 130px;
        height: 130px;
        line-height: 100px;
        border: 0;
        text-align: center; }
  .front .content .region-content .view-services .views-row .group-right {
    width: 74%;
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: left; }
    .front .content .region-content .view-services .views-row .group-right .field-name-title a {
      color: #1eabe3;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .front .content .region-content .view-services .views-row .group-right .field-name-title a:hover {
        color: #414140;
        text-decoration: none; }

.container {
  padding-left: 0;
  padding-right: 0; }

footer.footer-bottom {
  background: #242424;
  color: #999;
  padding: 50px;
  margin-top: 0;
  border: 0; }
  footer.footer-bottom #block-adresgegevens {
    float: left;
    width: auto;
    font-size: 14px;
    background: url(../assets/logo_shield.svg) no-repeat left center/60px;
    padding: 5px 0 5px 70px; }
    footer.footer-bottom #block-adresgegevens span {
      color: #fff;
      line-height: 20px; }
  footer.footer-bottom #block-copyright {
    float: right;
    width: auto;
    clear: right;
    font-size: 14px;
    font-style: italic;
    margin: 10px 0 0; }
  footer.footer-bottom #block-kbclr-footer {
    float: right;
    width: auto;
    clear: right; }
    footer.footer-bottom #block-kbclr-footer ul.menu > li {
      display: inline-block; }
      footer.footer-bottom #block-kbclr-footer ul.menu > li > a {
        color: #fff;
        padding: 0;
        background: none; }
        footer.footer-bottom #block-kbclr-footer ul.menu > li > a:hover {
          color: #1eabe3; }

@media screen and (max-width: 1024px) {
  .header .header-inner > a.logo {
    width: 300px; }
    .header .header-inner > a.logo .pic-slagzin {
      width: 100%; }

  .header .header-inner > ul.menu {
    display: none; }

  .header .header-inner > .region-header #block-system-main-menu {
    display: block; } }
@media screen and (max-width: 768px) {
  .content .region-content .webform-client-form .form-item > input {
    width: 100%; }
  .content .region-content .webform-client-form .form-item > label {
    width: 100%; }
  .content .region-content .webform-client-form .form-item > .form-textarea-wrapper {
    width: 100%; }

  .slider .view-slider .flex-viewport {
    height: 500px; }

  .slider .view-slider .views-row {
    height: 500px; }

  .footer .block-block, .footer .block-menu {
    width: 100%;
    text-align: center; }
  .footer .block-menu {
    margin: 20px 0; }

  .page-services .view-services .group-left, .page-services .view-services .group-right {
    width: 100%;
    text-align: center; }
  .page-services .view-services .group-left .svgbox {
    margin: 0; } }
@media screen and (max-width: 400px) {
  body {
    padding: 30px 20px 50px; }

  .header .header-inner > .region-header #block-system-main-menu i.fa.fa-bars {
    left: -50px; }

  .slider {
    margin: 0 -20px 50px; }

  .slider .view-slider .flex-viewport {
    height: 200px; }

  .slider .view-slider .views-row {
    height: 200px; }

  ul.flex-direction-nav {
    display: none; }

  .slider .view-slider .views-row .field-name-field-field-slide-slagzin {
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    font-size: 12px; }

  .front .content .region-content .view-services .views-row .group-right, .front .content .region-content .view-services .views-row .group-left {
    width: 100%; }

  #block-views-projects-block-1 .view-projects .views-row {
    width: 100%;
    height: 300px;
    margin: 0 0 15px; }

  .content .region-content {
    width: 100%; }

  .not-front .page-header {
    word-break: break-all;
    padding: 30px 15px; }

  .page-projecten .view-projects > .view-content .views-row.height2, .page-projecten .view-projects > .view-content .views-row.width2 {
    width: 300px;
    height: 300px; }

  .node-type-project .content .region-content .node-project .group-project-content {
    width: 100%; } }
#block-views-block-recent-articles {
  margin: 100px 0 0;
  padding: 100px 0;
  background: #fff;
  width: 100%; }
  #block-views-block-recent-articles h2.block-title {
    text-align: center;
    margin: 0 0 30px; }
  #block-views-block-recent-articles .view-articles {
    text-align: center; }
    #block-views-block-recent-articles .view-articles > .view-content {
      max-width: 1200px;
      width: 100%;
      display: inline-block; }
      #block-views-block-recent-articles .view-articles > .view-content > .views-row {
        float: right;
        clear: right;
        width: calc(50% - 20px);
        margin: 0 0 20px;
        padding: 0;
        border-bottom: 1px dashed #ccc;
        position: relative;
        text-align: left; }
        #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser {
          display: inline-block;
          text-align: left;
          width: 100%; }
          #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser .field--name-field-image {
            float: left;
            width: 200px;
            height: 120px;
            margin: 0 15px 0 0;
            position: relative; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser .field--name-field-image > a {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser .field--name-field-image img {
              display: none; }
          #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser h2 {
            float: right;
            width: 62%;
            font-size: 20px;
            margin: 10px 0; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser h2 a {
              text-decoration: none; }
          #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser .tags {
            float: right;
            width: 62%;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 100; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser .tags .field--name-field-tags > .field--item {
              display: inline-block;
              vertical-align: top; }
              #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser .tags .field--name-field-tags > .field--item a {
                text-transform: uppercase; }
          #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser footer {
            float: right;
            width: 62%; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row .article-teaser footer .left {
              position: absolute;
              bottom: 0;
              font-size: 12px;
              color: #bbb; }
        #block-views-block-recent-articles .view-articles > .view-content > .views-row:last-child {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0; }
        #block-views-block-recent-articles .view-articles > .view-content > .views-row:first-child {
          float: left;
          clear: left;
          width: 50%;
          margin: 0;
          padding: 0;
          height: 448px;
          background: #eee;
          border-bottom: 0; }
          #block-views-block-recent-articles .view-articles > .view-content > .views-row:first-child .article-teaser {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row:first-child .article-teaser .field--name-field-image {
              float: none;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              bottom: 0;
              margin: 0 3% 0 0; }
              #block-views-block-recent-articles .view-articles > .view-content > .views-row:first-child .article-teaser .field--name-field-image img {
                display: none;
                width: auto;
                min-width: 100%;
                min-height: 100%; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row:first-child .article-teaser h2 {
              float: none;
              width: auto;
              position: absolute;
              left: 30px;
              bottom: 60px; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row:first-child .article-teaser .tags {
              float: none;
              width: auto;
              position: absolute;
              left: 30px;
              bottom: 30px; }
            #block-views-block-recent-articles .view-articles > .view-content > .views-row:first-child .article-teaser footer {
              float: none;
              width: auto;
              position: absolute;
              left: 30px;
              top: 30px; }

#block-views-block-producten-block-1 {
  padding: 100px 0;
  margin: 0;
  background: #444;
  width: 100%; }
  #block-views-block-producten-block-1 .view-producten {
    text-align: center;
    width: 100%;
    color: #fff; }
    #block-views-block-producten-block-1 .view-producten > .view-content > .item-list {
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: calc(80%/5 - 2px); }
      #block-views-block-producten-block-1 .view-producten > .view-content > .item-list > h3 {
        font-size: 16px;
        margin: 20px 0; }
      #block-views-block-producten-block-1 .view-producten > .view-content > .item-list > ul {
        margin: 0;
        padding: 0;
        list-style: none; }
        #block-views-block-producten-block-1 .view-producten > .view-content > .item-list > ul > li {
          margin: 0 0 4px;
          padding: 0;
          list-style: none; }
          #block-views-block-producten-block-1 .view-producten > .view-content > .item-list > ul > li .views-field-title a {
            font-size: 14px;
            color: #888; }
            #block-views-block-producten-block-1 .view-producten > .view-content > .item-list > ul > li .views-field-title a:hover {
              color: #f1c40f;
              text-decoration: none; }

body.path-frontpage {
  margin-top: 0; }
  body.path-frontpage > .heading {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 56.25%; }
    body.path-frontpage > .heading:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      left: 0;
      top: 0;
      background: url(../assets/images/pattern.png) repeat left top; }
    body.path-frontpage > .heading:after {
      content: '';
      position: absolute;
      z-index: 30;
      width: 100%;
      height: 50px;
      left: 0;
      bottom: -1px;
      background: url(../assets/images/afterpijl.svg) no-repeat center top/5000px; }
    body.path-frontpage > .heading video {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
    body.path-frontpage > .heading .fadebox {
      opacity: 0;
      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(30, 171, 227, 0.7); }
    body.path-frontpage > .heading .question1, body.path-frontpage > .heading .question2 {
      font-size: 50px;
      z-index: 6;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      margin: -25px 0 0;
      color: #fff;
      opacity: 0; }
    body.path-frontpage > .heading img.shield {
      position: absolute;
      z-index: 6;
      width: 340px;
      left: 50%;
      top: 140px;
      margin: 0 0 0 -170px;
      opacity: 0; }
    body.path-frontpage > .heading img.name {
      position: absolute;
      z-index: 6;
      width: 700px;
      left: 50%;
      top: 540px;
      margin: 0 0 0 -350px;
      opacity: 0; }
    body.path-frontpage > .heading img.sub {
      position: absolute;
      z-index: 6;
      width: 700px;
      left: 50%;
      top: 590px;
      margin: 0 0 0 -350px;
      opacity: 0; }

.field--name-field-paragraaf > .field--item {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 0 50px; }
  .field--name-field-paragraaf > .field--item > .paragraph {
    max-width: 1290px;
    width: 100%;
    display: inline-block;
    text-align: justify; }
    .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--intro {
      width: 50%;
      font-weight: 700; }
    .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--banner {
      min-height: 400px;
      max-width: none;
      width: calc(100% + 30px);
      margin: 0 0 0 -15px;
      text-align: center;
      padding: 80px 0; }
      .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--banner .field--name-field-afbeelding {
        display: none; }
      .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--banner .field--name-field-banner-caption,
      .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--banner .field--name-field-link {
        position: relative;
        max-width: 1290px;
        z-index: 2;
        display: inline-block;
        width: 100%;
        text-align: left; }
      .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--banner .field--name-field-banner-caption {
        color: #fff;
        font-size: 28px; }
      .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--banner .field--name-field-link a {
        color: #fff;
        background: #1eabe3;
        padding: 6px 8px;
        border-radius: 2px;
        display: inline-block;
        margin: 10px 0 0;
        text-decoration: none; }
    .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--tekst {
      width: 50%; }
    .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--foto-links-tekst-rechts .field--name-field-tekst {
      float: right;
      width: 48%;
      text-align: left; }
    .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--foto-links-tekst-rechts .field--name-field-afbeelding {
      float: left;
      width: 48%; }
    .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--foto-rechts-tekst-links .field--name-field-tekst {
      float: left;
      width: 48%;
      text-align: right; }
    .field--name-field-paragraaf > .field--item > .paragraph.paragraph--type--foto-rechts-tekst-links .field--name-field-afbeelding {
      float: right;
      width: 48%; }

.page-node-type-product {
  text-align: center; }
  .page-node-type-product > .node__content {
    display: inline-block;
    width: 100%;
    max-width: 1200px; }
  .page-node-type-product .field--name-field-product-mainpic {
    display: none; }

body > .imgbox {
  display: block;
  width: 100%;
  min-height: 800px;
  position: relative;
  background: transparent; }
  body > .imgbox:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
    top: 0;
    background: url(../assets/images/pattern.png) repeat left top; }
  body > .imgbox:after {
    content: '';
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: -8px;
    background: url(../assets/images/afterpijl.svg) no-repeat center top/5000px; }

article.article > .content > * {
  display: inline-block;
  width: 100%; }
article.article > .content > .field--name-field-image {
  display: none; }

.page-node-type-article {
  text-align: center; }

.path-artikels {
  text-align: center; }
  .path-artikels h1 {
    margin: 50px 0; }
  .path-artikels .view-articles {
    max-width: 1290px;
    display: inline-block;
    width: 100%; }
    .path-artikels .view-articles .views-row {
      width: 300px;
      height: 420px;
      margin-bottom: 20px;
      max-width: 100%;
      background: #fff; }
      .path-artikels .view-articles .views-row h2 {
        text-align: center;
        font-size: 22px;
        margin: 20px 0; }

/*# sourceMappingURL=style.css.map */
