body > .imgbox {
  display: block;
  width: 100%;
  min-height: 800px;
  position: relative;
  background: transparent;
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
    top: 0;
    background: url(../assets/images/pattern.png) repeat left top;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 60px;
    left: 0;
    bottom: -8px;
    background: url(../assets/images/afterpijl.svg) no-repeat center top / 5000px;
  }
}

article.article {
  > .content {
    > * {
      display: inline-block;
      width: 100%;
    }
    > .field--name-field-image {
      display: none;
    }
  }
}

.page-node-type-article {
  text-align: center;
}

// view
.path-artikels {
  text-align: center;
  h1 {
    margin: 50px 0;
  }
  .view-articles {
    max-width: 1290px;
    display: inline-block;
    width: 100%;
    .views-row {
      width: 300px;
      height: 420px;
      margin-bottom: 20px;
      max-width: 100%;
      background: #fff;
      h2 {
        text-align: center;
        font-size: 22px;
        margin: 20px 0;
      }
    }
  }
}
