body > .imgbox {
  display: block;
  min-height: 800px;
  position: relative;
  background: transparent; }
  body > .imgbox:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
    top: 0;
    background: url(../assets/images/pattern.png) repeat left top; }
  body > .imgbox:after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background: url(../assets/images/afterpijl.svg) no-repeat center top/5000px; }

article.article > .content > * {
  display: inline-block;
  width: 100%; }
article.article > .content > .field--name-field-image {
  display: none; }

.page-node-type-article {
  text-align: center; }

.path-artikels .view-articles .views-row {
  width: 300px;
  height: 420px;
  margin-bottom: 20px;
  max-width: 100%;
  background: #fff; }

/*# sourceMappingURL=articles.css.map */
