// nodequeue block
#block-views-block-recent-articles {
  margin: 100px 0 0;
  padding: 100px 0;
  background: #fff;
  width: 100%;
  h2.block-title {
    text-align: center;
    margin: 0 0 30px;
  }
  .view-articles {
    text-align: center;
    > .view-content {
      max-width: 1200px;
      width: 100%;
      display: inline-block;
      > .views-row {
        float: right;
        clear: right;
        width: calc(50% - 20px);
        margin: 0 0 20px;
        padding: 0;
        border-bottom: 1px dashed #ccc;
        position: relative;
        text-align: left;
        .article-teaser {
          display: inline-block;
          text-align: left;
          width: 100%;
          .field--name-field-image {
            float: left;
            width: 200px;
            height: 120px;
            margin: 0 15px 0 0;
            position: relative;
            > a {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
            }
            img {
              display: none;
            }
          }
          h2 {
            float: right;
            width: 62%;
            font-size: 20px;
            margin: 10px 0;
            a {
              text-decoration: none;
            }
          }
          .tags {
            float: right;
            width: 62%;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 100;
            .field--name-field-tags {
              > .field--item {
                display: inline-block;
                vertical-align: top;
                a {
                  text-transform: uppercase;
                }
              }
            }
          }
          footer {
            float: right;
            width: 62%;
            .left {
              position: absolute;
              bottom: 0;
              font-size: 12px;
              color: #bbb;
            }
          }
        }
        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        &:first-child {
          float: left;
          clear: left;
          width: 50%;
          margin: 0;
          padding: 0;
          height: 448px;
          background: #eee;
          border-bottom: 0;
          .article-teaser {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;

            .field--name-field-image {
              float: none;
              width: 100%;
              height: 100%;
              position: absolute;
              left: 0;
              bottom: 0;
              margin: 0 3% 0 0;
              img {
                display: none;
                width: auto;
                min-width: 100%;
                min-height: 100%;
              }
            }
            h2 {
              float: none;
              width: auto;
              position: absolute;
              left: 30px;
              bottom: 60px;
            }
            .tags {
              float: none;
              width: auto;
              position: absolute;
              left: 30px;
              bottom: 30px;
            }
            footer {
              float: none;
              width: auto;
              position: absolute;
              left: 30px;
              top: 30px;
            }
          }

        }
      }
    }
  }
}

#block-views-block-producten-block-1 {
  padding: 100px 0;
  margin: 0;
  background: #444;
  width: 100%;
  .view-producten {
    text-align: center;
    width: 100%;
    color: #fff;
    > .view-content {
      > .item-list {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        width: calc(80%/5 - 2px);
        > h3 {
          font-size: 16px;
          margin: 20px 0;
        }
        > ul {
          margin: 0;
          padding: 0;
          list-style: none;
          > li {
            margin: 0 0 4px;
            padding: 0;
            list-style: none;
            .views-field-title {
              a {
                font-size: 14px;
                color: #888;
                &:hover {
                  color: $color-yellow;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

// heading front video
body.path-frontpage {
  margin-top: 0;
  > .heading {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 56.25%;
    &:before {
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      left: 0;
      top: 0;
      background: url(../assets/images/pattern.png) repeat left top;
    }
    &:after {
      content: '';
      position: absolute;
      z-index: 30;
      width: 100%;
      height: 50px;
      left: 0;
      bottom: -1px;
      background: url(../assets/images/afterpijl.svg) no-repeat center top / 5000px;
    }
    video {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .fadebox {
      opacity: 0;
      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(30,171,227,0.7);
    }
    .question1, .question2 {
      font-size: 50px;
      @extend .font.title;
      z-index: 6;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      margin: -25px 0 0;
      color: #fff;
      opacity: 0;
    }
    img.shield {
      position: absolute;
      z-index: 6;
      width: 340px;
      left: 50%;
      top: 140px;
      margin: 0 0 0 -170px;
      opacity: 0;
    }
    img.name {
      position: absolute;
      z-index: 6;
      width: 700px;
      left: 50%;
      top: 540px;
      margin: 0 0 0 -350px;
      opacity: 0;
    }
    img.sub {
      position: absolute;
      z-index: 6;
      width: 700px;
      left: 50%;
      top: 590px;
      margin: 0 0 0 -350px;
      opacity: 0;
    }
  }
}