.view-articles {
	position: relative;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.view-articles .views-row {

	display: inline-block;
	width: 300px;
	height: 300px;
	padding: 0;
	margin: 0 0 30px;
	position: relative;
	overflow: hidden;
	background: #000;
	text-align: center;
	cursor: pointer;
}

.view-articles .views-row img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.7;
}

.view-articles .views-row .group-caption {
	padding: 2em;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.view-articles .views-row .group-caption::before,
.view-articles .views-row .group-caption::after {
	pointer-events: none;
}

.view-articles .views-row .group-caption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.view-articles .views-row .group-caption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

.view-articles .views-row img {
	max-width: none;
	width: -webkit-calc(100% + 50px);
	width: calc(100% + 50px);
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0, 0);
	transform: translate3d(-40px,0,0);
}

.view-articles .views-row .group-caption {
	text-align: left;
}

/*.view-articles .views-row .group-caption > div {*/
	/*position: absolute;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*padding: 2em;*/
	/*width: 100%;*/
	/*height: 50%;*/
/*}*/

.view-articles .views-row h2,
.view-articles .views-row p {
	-webkit-transform: translate3d(0,40px,0);
	transform: translate3d(0,40px,0);
}

.view-articles .views-row h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.view-articles .views-row p {
	color: rgba(255,255,255,0.8);
	opacity: 0;
	-webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
	transition: opacity 0.2s, transform 0.35s;
}

.view-articles .views-row:hover img,
.view-articles .views-row:hover p {
	opacity: 1;
}

.view-articles .views-row:hover img,
.view-articles .views-row:hover h2,
.view-articles .views-row:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.view-articles .views-row:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}