// elements
h1, h2, h3, h4, h5, h6 {
  @extend .font.title;
}

a {
  color: $color-grey-dark;
  @include transit(300ms);
  &:hover {
    color: $color-base;
    text-transform: none;
  }
}

p,a,h1,h2,h3,h4,h5,h6,div,li {
  &::selection {
    background: $color-yellow;
    color: $color-grey-dark;
  }
  &::-moz-selection {
    background: $color-yellow;
    color: $color-grey-dark;
  }
}

nav.tabs {
  display: inline-block;
  width: 100%;
  margin: 0 0 30px;
}

.page-header {
  border: 0;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: 0 0 30px;
}

.front .frontvideo {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 56.25%;
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
    top: 0;
    background: url(../assets/images/pattern.png) repeat left top;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background: url(../assets/images/afterpijl.svg) no-repeat center top / 5000px;
  }
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

// theme
body {
  @extend .font;
  font-size: 16px;
  padding: 0;
  color: $color-grey-dark;
  background: #f7f6f5;
  margin-top: 0;
  &.navbar-is-fixed-top {
    margin-top: 0;
  }
  > .main-container {
    padding-top: 120px;
  }
  &::selection {
    background: $color-yellow;
  }
  &::-moz-selection {
    background: $color-yellow;
  }
}

.navbar-fixed-top {
  position: fixed;
  z-index: 50;
  padding: 20px;
  width: 100%;
  color: #fff;
  background: rgba(0,0,0,0.75);
  @extend .clearfix;
  text-align: right;
  border-bottom: 0;
  .brandingbox {
    float: left;
    width: 50%;
    position: relative;
    a.logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: auto;
      margin: -8px 0 0;
      img {
        width: 50px;
        height: auto;
      }
      &:hover {
        text-decoration: none;
      }
    }
    .navbar-brand {
      padding: 0 0 0 60px;
      margin: 0;
      width: 100%;
      text-align: left;
      height: auto;
      @extend .font.title;
      color: #fff;
      font-size: 20px;
    }
    .navbar-text {
      padding: 0 0 0 60px;
      margin: 5px 0 0;
      width: 100%;
      text-align: left;
      @extend .font.title;
      color: $color-base;
      font-size: 12px;
      font-style: italic;
    }
  }
  .region-navigation-collapsible {
    > * {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  #block-kbclr-search {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    .form-group {
      margin: 0 0 0 20px;
    }
    .help-block {
      display: none;
    }
  }
  #block-kbclr-hoofdnavigatie {
    float: none;
    display: inline-block;
    vertical-align: middle;
    ul.menu {
      float: right;
      display: inline-block;
      > li {
        margin: 0 0 0 15px;
        > a {
          @extend .font;
          font-size: 14px;
          text-transform: uppercase;
          background: transparent;
          color: #fff;
          padding: 5px 10px;
          border-radius: 4px;
          @include transit(.4s);
          &:hover {
            color: $color-yellow;
          }
          &.active {
            background: $color-base;
            color: #fff;
          }
        }
      }
    }
  }
}

.field-name-field-googlemaps-iframe {
  margin: 0 0 50px;
  iframe {
    width: 100%;
    height: 500px;
    border-radius: 4px;
  }
}

ul.flex-direction-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    list-style: none;
    > a {
      position: absolute;
      font-size: 40px;
      line-height: 40px;
      top: 50%;
      margin-top: -20px;
      color: rgba(255,255,255,0.4);
      &.flex-prev {
        left: 30px;
      }
      &.flex-next {
        right: 30px;
      }
      @include transit(.4s);
      &:hover {
        color: rgba(255,255,255,1);
      }
    }
  }
}
ol.flex-control-nav {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -50px;
  left: 0;
  > li {
    display: inline-block;
    vertical-align: middle;
    > a {
      width: 10px;
      height: 10px;
      text-indent: -99999999px;
      cursor: pointer;
      display: inline-block;
      border-radius: 50%;
      margin: 0 2px;
      background: $color-grey-dark;
      @include transit(400ms);
      &.flex-active {
        background: $color-yellow;
      }
    }
  }
}

.page-artikels {
  #block-menu-menu-artikel-menu {
    display: none;
  }
  .region-content {
    width: 100%;
    max-width: none;
  }
  .filter-button-group {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 50px 0;
    > * {
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      text-transform: uppercase;
      background: transparent;
      color: #303333;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      margin: 0 5px;
      @include transit(400ms);
      &:hover {
        background: #eee;
        text-decoration: none;
      }
      &.active {
        background: $color-yellow;
      }
    }
  }
}

.page-producten {
  #block-menu-menu-product-menu {
    float: left;
    width: 300px;
  }
  #block-system-main {
    float: right;
    width: calc(100% - 350px);
  }
  .view-productnodes {
    .views-row {
      display: inline-block;
      width: 100%;
      padding: 0 0 15px;
      margin: 0 0 15px;
      border-bottom: 1px solid #ddd;
      .group-left {
        width: 200px;
      }
      .group-right {
        width: calc(100% - 220px);
        float: right;
        .field-name-field-paragraaf {
          margin-top: 20px;
          .field-item {
            margin: 0;
            font-weight: 300;
          }
        }
        .paragraphs-item-tekst,
        .paragraphs-item-intro {
          width: 100%;
          margin: 0;
          font-weight: 300;
        }
      }
    }
  }
}

.page-taxonomy-term {
  #block-menu-menu-product-menu {
    float: left;
    width: 300px;
  }
  #block-system-main {
    float: right;
    width: calc(100% - 350px);
  }
  .node-product {
    display: inline-block;
    width: 100%;
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 1px solid #ddd;
    .group-left {
      width: 200px;
    }
    .group-right {
      width: calc(100% - 220px);
      float: right;
      .field-name-field-paragraaf {
        margin-top: 20px;
        .field-item {
          margin: 0;
          font-weight: 300;
        }
      }
      .paragraphs-item-tekst,
      .paragraphs-item-intro {
        width: 100%;
        margin: 0;
      }
    }
  }
}

//.page-artikels .view-articles {
//  text-align: center;
//  //max-width: 960px;
//  margin: auto;
//  @include transit(400ms);
//  > .view-content .views-row {
//    display: inline-block;
//    width: 300px;
//    height: 300px;
//    padding: 0;
//    margin-bottom: 30px;
//    //background: #fff;
//    //border-radius: 4px;
//    //overflow: hidden;
//    .node-project {
//      position: initial;
//    }
//    &.width2 {
//      width: 630px;
//    }
//    &.height2 {
//      height: 630px;
//    }
//    .field-name-field-tags, .field-name-field-tilesize {
//      display: none;
//    }
//    .field-name-title, .field-name-field-project-intro {
//      opacity: 0;
//      @include transit(400ms);
//      position: relative;
//      z-index: 0;
//      color: #fff;
//      max-width: 80%;
//      margin-left: 10%;
//      font-size: 14px;
//      h3 {
//        font-size: 18px;
//        margin-top: 90px;
//        color: $color-grey-dark;
//        a {
//          color: #fff;
//          text-decoration: none;
//          //padding-top: 180px;
//          //background: url(../assets/images/cat4.svg) no-repeat center top / 140px;
//        }
//      }
//      h2 {
//        text-align: left;
//        color: $color-grey-dark;
//      }
//    }
//    .field-name-title {
//      opacity: 1;
//      //border-left: 5px solid #1eabe3;
//      margin: 0;
//      max-width: none;
//      h2 {
//        text-align: left;
//        color: #fff;
//        font-size: 18px;
//        margin-top: 15px;
//        //margin-top: 0;
//        //padding-top: 15px;
//      }
//    }
//    .field-name-node-link a {
//      position: absolute;
//      text-indent: -999999px;
//      display: inline-block;
//      background: transparent;
//      left: 0;
//      top: 0;
//      width: 100%;
//      height: 100%;
//      z-index: 2;
//      @include transit(400ms);
//    }
//    .field-name-field-image {
//      border-left: 0;
//    }
//    &:hover {
//      //.field-name-node-link a {
//      //  background: rgba(0,0,0,0.65);
//      //}
//      .field-name-title, .field-name-field-project-intro {
//        opacity: 1;
//        z-index: 4;
//      }
//    }
//  }
//}

.node--type-project {
  .content {
    .region-content {
      width: 100%;
      ul.flex-direction-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        > li {
          list-style: none;
          > a {
            position: absolute;
            font-size: 30px;
            line-height: 30px;
            top: 50%;
            margin-top: -15px;
            color: rgba(0,0,0,0.2);
            &.flex-prev {
              left: -50px;
            }
            &.flex-next {
              right: -50px;
            }
            @include transit(.4s);
            &:hover {
              color: rgba(0,0,0,0.9);
            }
          }
        }
      }
      .node-project {
        max-width: 1200px;
        margin: auto;
        .field-name-field-project-pic {
          position: relative;
          margin-bottom: 50px;
          display: inline-block;
        }
        .group-project-content {
          width: 70%;
          margin: 50px auto 0;
          .field-name-field-project-intro {
            @extend .font.title;
            margin: 0 0 30px;
          }
          .field-name-body {
            a {
              text-decoration: none;
              color: $color-grey-dark;
              @include transit(400ms);
              background: $color-yellow;
              &:hover {
                background: $color-base;
              }
            }
          }
          .field-name-field-project-tax {
            text-align: right;
            .field-item {
              display: inline-block;
              vertical-align: middle;
              font-size: 12px;
              font-style: italic;
              margin: 0 0 0 10px;
              padding: 0 0 0 10px;
              border-left: 3px solid $color-yellow;
              &:last-child {
                border-right: 3px solid $color-yellow;
                padding: 0 10px
              }
            }
          }
          .group-project-extra {
            display: inline-block;
            width: 100%;
            margin: 30px 0 15px;
            padding: 30px 0;
            border-top: 1px solid $color-grey-light;
            border-bottom: 1px solid $color-grey-light;
            .field-label {
              @extend .font.title;
              //margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

//body {
//  > .content {
//    //box-shadow: -2px -60px 140px rgba(0,0,0,0.25);
//  }
//  .article-main-image {
//    display: none;
//  }
//  &.node--type-article, &.node--type-product {
//    .article-main-image {
//      display: block;
//      min-height: 600px;
//      position: relative;
//      background: transparent;
//      &:before {
//        content: '';
//        position: absolute;
//        z-index: 1;
//        width: 100%;
//        height: 100%;
//        opacity: 0.5;
//        left: 0;
//        top: 0;
//        background: url(../assets/images/pattern.png) repeat left top;
//      }
//      &:after {
//        content: '';
//        position: absolute;
//        z-index: 2;
//        width: 100%;
//        height: 50px;
//        left: 0;
//        bottom: 0;
//        background: url(../assets/images/afterpijl.svg) no-repeat center top / 5000px;
//      }
//    }
//    .node-article {
//      .field-name-field-image {
//        display: none;
//      }
//    }
//  }
//}

.node--type-article {
  .content {
    > .content-inner > section {
      position: relative;
      .breadcrumb {
        margin-bottom: 0;
      }
    }
    .region-content {
      .field-name-field-image {
        margin: 0;
      }
      .field-name-field-intro {
        @extend .font.title;
        text-align: left;
        font-size: 18px;
        line-height: 24px;
        color: $color-base;
      }
      .field-name-body, .field-name-field-tekst {
        text-align: left;
        font-weight: 400;
        line-height: 26px;
        a {
          text-decoration: none;
          color: $color-grey-dark;
          @include transit(400ms);
          background: $color-yellow;
          &:hover {
            background: $color-base;
          }
        }
      }
    }
  }
}

.node--type-article, .node--type-product, .front {
  .field-name-field-product-images {
    display: none;
  }
  .field-name-field-paragraaf {
    margin-top: 100px;
    display: inline-block;
    width: 100%;
    > .field-items {
      text-align: center;
      > .field-item {
        margin: 0 0 50px;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-weight: 400;
        line-height: 26px;
        > .entity-paragraphs-item {
          display: inline-block;
          max-width: 1600px;
          text-align: center;
          &.paragraphs-item-banner {
            max-width: none;
            text-align: left;
            width: 100%;
            z-index: 999;
            min-height: 400px;
            position: relative;
            display: block;
            background: transparent;
            text-align: center;
            .field-name-field-image {
              display: none;
            }
            .group-infobox {
              width: 60%;
              margin: auto;
              display: inline-block;
              padding: 50px 0;
              text-align: left;
              .field-name-field-banner-title {
                @extend .font.title;
                font-size: 30px;
                color: $color-base;
              }
              .field-name-field-link a {
                margin: 15px 0;
                color: #fff;
                background: $color-base;
                padding: 4px 8px;
                border-radius: 2px;
                display: inline-block;
                &:hover {
                  background: $color-grey-dark;
                  text-decoration: none;
                }
              }
            }
          }
          .group-left {
            float: left;
            width: 48%;
            img {
              width: 100%;
            }
          }
          .group-right {
            float: right;
            width: 48%;
          }
          &.field-name-field-afbeelding {
            display: inline-block;
            width: 100%;
            text-align: center;
            img {
              display: inline-block;
            }
          }
          &.paragraphs-item-tekst-links-foto-rechts {
            .group-left {
              text-align: right;
            }
          }
          &.paragraphs-item-foto-links-tekst-rechts {
            .group-right {
              text-align: left;
            }
          }
          &.paragraphs-item-intro > .content {
            width: 50%;
            margin: auto;
          }
          &.paragraphs-item-download-bestand > .content {
            width: 50%;
            margin: auto;
            padding: 20px;
            background: #fff;
          }
          &.paragraphs-item-tekst > .content {
            width: 50%;
            margin: auto;
            font-weight: 400;
          }
          &.paragraphs-item-video {
            text-align: center;
            .field-name-field-video {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.field-name-sharebtns {
  position: absolute;
  left: 8px;
  top: 8px;
  p {
    display: inline-block;
    vertical-align: top;
  }
}

.field-name-field-tags {
  position: absolute;
  right: 8px;
  top: 8px;
  .field-item {
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    border-left: 1px solid #ddd;
  }
}


#block-views-projects-block-1, #block-views-projects-block-2 {
  margin: 100px 0 0;
  text-align: center;
  .block-title {
    margin: 0 0 40px;
  }
  .view-articles {
    .more-link a {
      color: $color-grey-dark;
      font-size: 12px;
      text-transform: uppercase;
      padding: 5px 15px;
      background: transparent;
      text-decoration: none;
      border-radius: 4px;
      display: inline-block;
      margin: 10px 0 0;
      @include transit(400ms);
      &:hover {
        background: $color-yellow;
      }
    }
    .views-row {
      width: 300px;
      height: 450px;
      border-radius: 4px;
      display: inline-block;
      margin: 0 15px;
      padding: 0;
      overflow: hidden;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: rgba(0,0,0,0);
        @include transit(400ms);
      }
      .views-field-field-project-pic {
        display: none;
      }
      .views-field-title, .views-field-field-project-intro {
        opacity: 0;
        @include transit(400ms);
        position: relative;
        z-index: 0;
        color: #fff;
        max-width: 80%;
        margin-left: 10%;
        font-size: 14px;
        h3 {
          font-size: 18px;
          margin-top: 0;
          padding-bottom: 20px;
          background: url(../assets/images/dots.svg) no-repeat center bottom / 34px;
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
      &:hover {
        &:after {
          background: rgba(0,0,0,0.65);
        }
        .views-field-title, .views-field-field-project-intro {
          opacity: 1;
          z-index: 4;
        }
      }
    }
  }
}

#block-views-projects-block-1 .view-articles .views-row {
  width: 30%;
  height: 300px;
  margin: 0 4% 0 0;
  &:last-child {
    margin: 0;
  }
}

.node--type-dienst {
  .node-dienst {
    .group-left {
      width: 200px;
    }
  }
}

.page-services .view-services {
  .views-row {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px dashed #ddd;
    &:first-child {
      border: 0;
    }
  }
  .group-left {
    width: 29%;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .group-right {
    width: 70%;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .field-name-title {
    a {
      color: $color-grey-dark;
      @include transit(.4s);
      &:hover {
        color: $color-base;
        text-decoration: none;
      }
    }
  }
  .field-name-field-service-intro {
    font-family: 'proxima';
  }
}

.front .content .region-content {
  .field-name-field-service-intro {
    font-family: 'proxima';
  }
  .view-services .views-row {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
    &:first-child {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px dashed #ddd;
    }
    .group-left {
      width: 25%;
      float: none;
      display: inline-block;
      vertical-align: middle;
      .svgbox {
        width: 100%;
        margin: 0;
        span {
          width: 130px;
          height: 130px;
          line-height: 100px;
          border: 0;
          text-align: center;
        }
      }
    }
    .group-right {
      width: 74%;
      float: none;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      .field-name-title {
        a {
          color: $color-base;
          @include transit(.4s);
          &:hover {
            color: $color-grey-dark;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.container {
  padding-left: 0;
  padding-right: 0;
}

footer.footer-bottom {
  background: #242424;
  color: #999;
  padding: 50px;
  @extend .clearfix;
  margin-top: 0;
  border: 0;
  #block-adresgegevens {
    float: left;
    width: auto;
    font-size: 14px;
    background: url(../assets/logo_shield.svg) no-repeat left center / 60px;
    padding: 5px 0 5px 70px;
    span {
      color: #fff;
      @extend .font.title;
      line-height: 20px;
    }
  }
  #block-copyright {
    float: right;
    width: auto;
    clear: right;
    font-size: 14px;
    font-style: italic;
    margin: 10px 0 0;
  }
  #block-kbclr-footer {
    float: right;
    width: auto;
    clear: right;
    ul.menu {
      > li {
        display: inline-block;
        > a {
          color: #fff;
          padding: 0;
          background: none;
          &:hover {
            color: $color-base;
          }
        }
      }
    }
  }
}

// responsive:
@import "desktop";
@import "tablet";
@import "smartphones";
