.field--name-field-paragraaf {
  > .field--item {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 0 50px;
    > .paragraph {
      max-width: 1290px;
      width: 100%;
      display: inline-block;
      text-align: justify;
      &.paragraph--type--intro {
        width: 50%;
        font-weight: 700;
      }
      &.paragraph--type--banner {
        min-height: 400px;
        max-width: none;
        width: calc(100% + 30px);
        margin: 0 0 0 -15px;
        text-align: center;
        padding: 80px 0;
        .field--name-field-afbeelding {
          display: none;
        }
        .field--name-field-banner-caption,
        .field--name-field-link {
          position: relative;
          max-width: 1290px;
          z-index: 2;
          display: inline-block;
          width: 100%;
          text-align: left;
        }
        .field--name-field-banner-caption {
          color: #fff;
          @extend .font.title;
          font-size: 28px;
        }
        .field--name-field-link {
          a {
            color: #fff;
            background: $color-base;
            padding: 6px 8px;
            border-radius: 2px;
            display: inline-block;
            margin: 10px 0 0;
            text-decoration: none;
          }
        }
      }
      &.paragraph--type--tekst {
        width: 50%;
      }
      &.paragraph--type--foto-links-tekst-rechts {
        .field--name-field-tekst {
          float: right;
          width: 48%;
          text-align: left;
        }
        .field--name-field-afbeelding {
          float: left;
          width: 48%;
        }
      }
      &.paragraph--type--foto-rechts-tekst-links {
        .field--name-field-tekst {
          float: left;
          width: 48%;
          text-align: right;
        }
        .field--name-field-afbeelding {
          float: right;
          width: 48%;
        }
      }
    }
  }
}