.page-node-type-product {
  text-align: center; }
  .page-node-type-product > .node__content {
    display: inline-block;
    width: 100%;
    max-width: 1200px; }
  .page-node-type-product .field--name-field-product-mainpic {
    display: none; }

/*# sourceMappingURL=products.css.map */
