.page-node-type-product {
  text-align: center;
  > header {

  }
  > .node__content {
    display: inline-block;
    width: 100%;
    max-width: 1200px;
  }
  .field--name-field-product-mainpic {
    display: none;
  }
}