// smartphones
@media screen and (max-width: 400px) {

  body {
    padding: 30px 20px 50px;
  }

  .header .header-inner > .region-header #block-system-main-menu i.fa.fa-bars {
    left: -50px;
  }

  .slider {
    margin: 0 -20px 50px;
  }
  .slider .view-slider .flex-viewport {
    height: 200px;
  }
  .slider .view-slider .views-row {
    height: 200px;
  }
  ul.flex-direction-nav {
    display: none;
  }
  .slider .view-slider .views-row .field-name-field-field-slide-slagzin {
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    font-size: 12px;
  }

  .front .content .region-content .view-services .views-row {
    .group-right, .group-left {
      width: 100%;
    }
  }
  #block-views-projects-block-1 .view-projects .views-row {
    width: 100%;
    height: 300px;
    margin: 0 0 15px;
  }

  .content .region-content {
    width: 100%;
  }

  .not-front .page-header {
    word-break: break-all;
    padding: 30px 15px;
  }

  .page-projecten .view-projects > .view-content .views-row {
    &.height2, &.width2 {
      width: 300px;
      height: 300px;
    }
  }

  .node-type-project .content .region-content .node-project .group-project-content {
    width: 100%;
  }

}