// tablets
@media screen and (max-width: 768px) {

  .content .region-content .webform-client-form .form-item {
    > input {
      width: 100%;
    }
    > label {
      width: 100%;
    }
    > .form-textarea-wrapper {
      width: 100%;
    }
  }

  .slider .view-slider .flex-viewport {
    height: 500px;
  }
  .slider .view-slider .views-row {
    height: 500px;
  }

  .footer {
    .block-block, .block-menu {
      width: 100%;
      text-align: center;
    }
    .block-menu {
      margin: 20px 0;
    }
  }

  .page-services .view-services {
    .group-left, .group-right {
      width: 100%;
      text-align: center;
    }
    .group-left .svgbox {
      margin: 0;
    }
  }

}