// vars

$color-base: #1eabe3;
$color-grey-dark: #414140;
$color-yellow: #f1c40f;
$color-grey-light: #ddd;

// fonts

@font-face {
  font-family: 'lubalin_graphbold';
  src: url('../assets/lubalin/lubalin_graph_bold-webfont.eot');
  src: url('../assets/lubalin/lubalin_graph_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/lubalin/lubalin_graph_bold-webfont.woff2') format('woff2'),
  url('../assets/lubalin/lubalin_graph_bold-webfont.woff') format('woff'),
  url('../assets/lubalin/lubalin_graph_bold-webfont.ttf') format('truetype'),
  url('../assets/lubalin/lubalin_graph_bold-webfont.svg#lubalin_graphbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lubalin_graph_bookregular';
  src: url('../assets/lubalin/lubalin_graph_book_regular-webfont.eot');
  src: url('../assets/lubalin/lubalin_graph_book_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/lubalin/lubalin_graph_book_regular-webfont.woff2') format('woff2'),
  url('../assets/lubalin/lubalin_graph_book_regular-webfont.woff') format('woff'),
  url('../assets/lubalin/lubalin_graph_book_regular-webfont.ttf') format('truetype'),
  url('../assets/lubalin/lubalin_graph_book_regular-webfont.svg#lubalin_graph_bookregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lubalin_graphregular';
  src: url('../assets/lubalin/lubalin_graph_regular-webfont.eot');
  src: url('../assets/lubalin/lubalin_graph_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/lubalin/lubalin_graph_regular-webfont.woff2') format('woff2'),
  url('../assets/lubalin/lubalin_graph_regular-webfont.woff') format('woff'),
  url('../assets/lubalin/lubalin_graph_regular-webfont.ttf') format('truetype'),
  url('../assets/lubalin/lubalin_graph_regular-webfont.svg#lubalin_graphregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// classes
.font {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: normal;
  &.title {
    font-family: 'lubalin_graphregular';
    font-weight: normal;
    letter-spacing: 1px;
    font-style: normal;
  }
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// mixins
@mixin transit($duration) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin rotate($degrees) {
  -ms-transform: rotate($degrees); /* IE 9 */
  -webkit-transform: rotate($degrees); /* Chrome, Safari, Opera */
  transform: rotate($degrees);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@mixin cta($padding,$fontsize) {
  color: #000;
  font-size: $fontsize;
  font-family: 'lubalin_graph_bookregular';
  font-weight: normal;
  font-style: normal;
  position: relative;
  text-transform: lowercase;
  z-index: 1;
  padding: $padding 0;
  @include transit(.4s);
  &:before {
    content: '';
    width: 100%;
    height: 8px;
    left: 0;
    top: 0;
    background: $color-yellow;
    position: absolute;
    @include transit(.4s);
    z-index: -1;
  }
  &:after {
    content: '';
    width: 100%;
    height: 8px;
    left: 0;
    bottom: 0;
    background: $color-yellow;
    position: absolute;
    @include transit(.4s);
    z-index: -1;
  }
  &:hover, &:focus {
    text-decoration: none;
    padding: $padding;
    &:before {
      height: 50%;
    }
    &:after {
      height: 50%;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

// tabs
ul.tabs--primary {
  background: #f7f6f5;
  padding: 50px 0 0;
  margin: 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: 0;
  li {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: none;
    a {
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 4px;
      border: none;
      color: #333;
      padding: 5px 10px;
      &.active {
        background: $color-base;
        color: #fff;
        position: relative;
        &:hover {
          background: $color-base;
          color: #fff;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: -14px;
          left: 50%;
          margin-left: -8px;
          border-top: 8px solid $color-base;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid transparent;
        }
      }
      &:hover {
        background: #333;
        color: #fff;
      }
    }
    &.active {
      a {
        background: $color-base;
        position: relative;
        border: none;
        color: #fff;
        padding: 5px 10px;
        &:after {
          content: "";
          position: absolute;
          bottom: -14px;
          left: 50%;
          margin-left: -8px;
          border-top: 8px solid $color-base;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid transparent;
        }
        &:hover {
          background: $color-base;
          color: #fff;
          border: 0;
        }
      }
    }
  }
}
